{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1 class="text-center mb-4">Главная страница</h1>
        <div class="row">
            <div class="col-md-6">
                <h2>Котик</h2>
                <img src="{{ url_for('static', filename='img/cat1.jpg') }}" alt="Котик1" style="width:500px;height:600px;">
                <p class="mb-0">by Sber School</p>
                <p class="text-muted">DevOps</p>
            </div>
            <div class="col-md-6">
                <h2>Котик</h2>
                <img src="{{ url_for('static', filename='img/cat2.jpg') }}" alt="Котик2" style="width:500px;height:600px;">
                <p class="mb-0">С котиками</p>
                <p class="text-muted">- даже с двумя</p>
            </div>
        </div>
    </div>
{% endblock %}